image: moodlehq/moodle-php-apache:7.1

services:
  - mysql:latest

cache:
  paths:
    - $HOME/.composer/cache

variables:
  DB: "mysqli"
  MOODLE_BRANCH: "MOODLE_35_STABLE"
  MYSQL_ROOT_PASSWORD: "superrootpass"
  TRAVIS_BUILD_DIR: "$CI_PROJECT_DIR"

before_script:
  - apt update && apt install --yes apt-transport-https ca-certificates curl git-core gnupg2 mysql-client software-properties-common
  # Установка Docker'а
  - curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add -
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian $(lsb_release -cs) stable"
  - apt update && apt install --yes docker-ce
  # Регистрация и запуск службы API
  - docker login --username "$(printenv GITLAB_USERNAME)" --password "$(printenv GITLAB_PASSWORD)" registry.styleschool.ru
  - docker run --detach --env "MONGO_URL=$(printenv MONGO_URL)" --env "NODE_ENV=development" --env "ROOT_URL=$(printenv ROOT_URL)" --env "TOKEN=test" --publish "3000:3000" --restart=always registry.styleschool.ru/nodejs/api-service
  # Установка и настройка Moodle
  - cd $CI_PROJECT_DIR/..
  - curl -sS https://getcomposer.org/installer | php
  - mv composer.phar /usr/local/bin/composer
  - composer create-project -n --no-dev moodlerooms/moodle-plugin-ci ci ^1
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"
  - chmod u+x ci/bin/moodle-plugin-ci
  - chmod u+x ci/bin/*
  - umask u+x
  - moodle-plugin-ci install --db-user=root --db-pass=superrootpass --db-host=mysql -vvv

job1:
  script:
    - moodle-plugin-ci phplint
    - moodle-plugin-ci phpcpd
    - moodle-plugin-ci phpmd
    - moodle-plugin-ci codechecker
    - moodle-plugin-ci csslint
    - moodle-plugin-ci shifter
    - moodle-plugin-ci jshint
    - moodle-plugin-ci validate
    - moodle-plugin-ci phpunit
    - moodle-plugin-ci behat
